# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Firmware files
*.hex
*.bin
*.uf2

# Generated QMK graphics/font assets
keyboards/splitkb/halcyon/elora/keymaps/cravingpixels/generated/

# clangd
compile_commands.json
.clangd/
.cache/
